body {
	height:100%;
	width:100%;
	margin:auto;
	background: url("bg1.jpg") no-repeat 50% 50%;
	display: table;
	top: 0;
	background-size: cover;
}
.container {
	width:400px;
	height:300px;
	text-align:center;
	background-color:rgba(52,73,94,0.7);
	margin-top:150px;
	border-radius: 4px;
	margin:0 auto;
	margin-top:150px;
}
input[type="text"],input[type="password"]{
	height:45 px;
	width:300px;
	font-size:15px;
	padding-left: 10px;
	margin-bottom:20px;
}
.btn1 {
	 color: #fff;
	 border:none;
	 padding:15px 25px;
	 background-color:#036A81;
}

a{
	 
	 
	font-family:'Oswald',sans-serif;
	color:#fff;
	Font-size:105%;
	padding:10px 20px;
	border:none;
    text-decoration: none;
	
 }